/* background-color: #2E4263; */

/* Header Style */
body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2E4263;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 200px;

}

header h2 {
    font-size: 2em;
    margin: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

header li {
    display: inline-block;
    margin: 0 50px;
    color: white;
}

header a {
    color: white;
    text-decoration: none;

}

header a:hover {
    color: #06eaff;
}

/* Section Style */

.section {
    padding: 50px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E4263;
    color: white;
}

.section h1 {
    font-size: 2em;
    margin: 0;
}


.section-image {
    float: right;
    width: 50%;
    padding: 0 0 0 50px;
}

#section-btn {
    background-color: #0672ff;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Main Styles */

#random-title {
    font-size: 2em;
    margin: 35px 0;
    display: flex;
    justify-content: center;
}

.line-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 150px;
}

.line-up p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 150px;
    margin: 0;
}